
body {
    font: 20px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #55606e;
}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 45px;
}
.header , footer{
    background: #262936 url(../images/bg-texture.jpg) repeat;
    color: #fff;

}
.middle{
    background: #fff;
}


.hero {
    background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 523px;
}


.logo {
    float: left;
    margin: 19px 17px 0 72px;
}

.slogan {
    float: left;
    margin-top: 22px;
    font: italic 16px "Times New Roman", Times, Georgia, serif;
    color: rgba(255, 255, 255, .35);
}

.slogan {
    float: left;
    margin-top: 22px;
    font: italic 16px "Times New Roman", Times, Georgia, serif;
    color: rgba(255, 255, 255, .35);
}


.nav {
    float: right;
}
.nav li {
    float: left;
    border-left: 1px solid #2c323d;
}
.nav a {
    display: block;
    line-height: 62px;
}


.container:after {
    content: "";
    display: table;
    clear: both;
}


.nav a {
    display: block;
    line-height: 62px;
    padding: 0 24px 0 53px;
    color: #fff;
}
.nav a:hover {
    background-color: #13151a;
}
ul {
    list-style-type: none;
}
.fa-padding-5{
    padding-right: 10px;
}
.fa-question-circle{
    padding-right: 10px;
}
.fa-lock{
    padding-right: 10px;
}

.hero {
    background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 465px;
    color: #fff;
    text-align: center;
    padding-top: 31px;
}

.hero h1 {
    font-size: 52px;
    font-weight: bold;
    margin: 0 0 30px;
}
.hero p {
    font-size: 15px;
    line-height: 36px;
    font-weight: 600;
    max-width: 435px;
    margin: 0 auto 51px;
}
.hero p strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    padding: 0 55px;
    margin: 0 11px;
}
.btn-green {
    background-color: #83c129;
    box-shadow: 0 4px 0 #518719;
}
.btn-blue {
    background-color: #068fd5;
    box-shadow: 0 4px 0 #046b9f;
}

.column-4{
    column-count: 4;
}
.fa-twitter{
    padding: 0 24px 0 1200px;

}
.fa-facebook-f{
    padding-right: 10px;

}
.fa-vimeo{
    padding-right: 10px;
}
.copyright {
    clear: right;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    color: #8e959c;
}
.copyright a {
    color: #8e959c;
    margin-left: 8px;
}

.container:after,
.blocks:after {
    content: "";
    display: table;
    clear: both;
}
.blocks .block {
    float: left;
    width: 351px;
    margin-left: 43px;
}
.blocks .block:first-child {
    margin-left: 0;
}
.column-3{
    column-count: 3;
}
.blocks .block {
    float: left;
    width: 351px;
    margin-left: 43px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #d9dbdf;
}
.blocks .block:first-child {
    margin-left: 0;
}

.blocks img {
    vertical-align: top;
}
.blocks .image {
    margin-bottom: 13px;
}
.blocks .photo {
    float: left;
}
.blocks .text {
    float: right;
    width: 258px;
}
.blocks .phrase {
    color: #454e5c;
    margin-bottom: 2px;
    font-weight: 600;
}
.blocks .info {
    color: #8e959c;
    font-size: 14px;
}

.news {
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    padding: 25px 30px 140px;
    margin-bottom: 10px;
}
.news .one {
    float: left;
    width: 352px;
    margin-left: 42px;
}
.news .one:first-child {
    margin-left: 0;
}

.news .img {
    float: left;
    width: 98px;
    text-align: center;
}
.news .text {
    float: right;
    width: 234px;
    padding-top: 4px;
}
.news img {
    border-radius: 50%;
}
.news time {
    font-size: 14px;
    color: #abb1bb;
}
.news p {
    margin: 4px 0 0;
}

.featured {
    padding: 26px 0;
    margin-bottom: 34px;
}
.featured * {
    display: inline-block;
    vertical-align: middle;
}
.featured ul li {
    margin-right: 38px;
}
.featured .title {
    margin-right: 20px;
}
.featured a {
    opacity: .5;
}
.featured a:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}
a:hover {
    text-decoration: underline;
}

.btn:hover {
    text-decoration: none;
    opacity: .9;
}

.btn:hover {
    text-decoration: none;
    opacity: .9;
}